/* Background styling */
body {
  background-image: url("../images/AJAYBACK2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



/* Container for positioning buttons */
.button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Download button styling */
.download-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px 0;
  font-size: 16px;
  color: white;
  background-color: #ff69b4; /* Hot pink */
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect for buttons */
.download-button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}
